* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: darkslategrey;
}

.container {
    text-align: center;
    height: 300px;
    width: 1000px;
    /* position: absolute; */

}

.title {
    font-size: 32px;
    color: aqua
}

.question {
    padding: 20px;
    font-size: 22px;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    background-color: white;
}

.option {
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 15px;
    background: white;
    border-radius: 20px;
    margin: 10px 0 10px 10px;
    cursor: pointer;
    /* color: white; */
    
}

.option:hover {
    background: grey;
    
}

.next-btn {
    border: none;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 30px;
    cursor: pointer;
    color: #000;
    border-radius: 20px;
}

.next-btn:hover {
    background: white;
}

.result {
    height: 100px;
    text-align: center;
    font-size: 32px;
}